
body{
  margin: 2% 25% 2% 25%;
  /*background-color: green;*/
}

header{
  text-transform: uppercase;
}
.center {
    text-align: center;
   }

div{

  border-top: 2px solid grey;
}

span{
  font: bold 140% serif;
}
